<div class="dw-data-centerTest">
<ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge">14</span>
      Cras justo odio
    </li>
    <li class="list-group-item">
        <span class="badge">104</span>
        Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">4</span>
        Cras justo odio
      </li>
  </ul>

  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="">Home</a></li>
    <li role="presentation"><a href="">Profile</a></li>
    <li role="presentation"><a href="">Messages</a></li>
  </ul>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="https://mirror-gold-cdn.xitu.io/168e0853fb96c5ef088?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      最近经常看到很多JavaScript手写代码的文章总结，里面提供了很多JavaScript Api的手写实现。 里面的题目实现大多类似，而且说实话很多代码在我看来是非常简陋
    </div>
  </div>

  <div ng-app="childMod1" >

  </div>

</div>