<div class="dw-page-nav">
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a ui-sref="main.systemusergroup/list">系统用户组列表</a></li>
        <li class="active">系统用户组添加</li>
    </ol>
</div>
<div class="dw-page-detail-container table-responsive">
    <div class="dw-add-form form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">系统用户组名称</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="info.name"  placeholder="请输入系统用户组名称">
            <span class="must-input-icon">*</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">归属公司</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="form-control">
                        <span ng-repeat="ent in enterprises" style="font-size:12px;overflow:hidden" ng-show="ent.id == enterprise.parent_id">{{ent.name|limitTo:12}}</span>
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#ChooseEnterprise">选择</button>
                    </div>
                </div>
                <span class="must-input-icon">*</span>
            </div>
            <choose-enterprise></choose-enterprise>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="info.remarks"  placeholder="请输入备注">
            <span class="must-input-icon">*</span>
            </div>
        </div>
        <div class="dw-form-btn-group">
            <a ui-sref="main.systemusergroup/list">
                <button type="button" class="btn btn-default dw-form-btn">取消</button>
            </a>
            <button type="button" class="btn btn-primary dw-form-btn" ng-click="add()">确认</button>
        </div>
    </div>

    <div class="dw-tab-nav">
        <ul class="nav nav-tabs" id="tablist">
            <li  class="active">
                <a href="#rights" role="tab" data-toggle="tab">权限</a>
            </li>
            <!-- <li >
                <a href="#purchase" role="tab" data-toggle="tab">增值服务</a>
            </li> -->
        </ul>
        <div class="tab-content systemusergroup">
        	<div class="tab-pane fade in active" id="rights">
                <div class="rights-list-group">
                    <!-- <div class="each-rights-module" ng-repeat="rights in userAuth">
                        <div class="each-module-name">
                            {{rights.name}}
                        </div>
                        <div class="each-module-detail">
                            <ul class="second-rights-group" ng-if="rights.child.length != 0">
                                <li class="each-second-rights-item" ng-repeat="second in rights.child">
                                    <span>{{second.name}}</span>
                                    <ul class="third-rights-group" ng-if="second.child != 0">
                                        <li ng-repeat="third in second.child">
                                            <input type="checkbox" ng-model="third.checked">
                                            <span>{{third.name}}</span>
                                        </li>
                                    </ul>
                                    <ul class="third-rights-group" ng-if="second.buttonRights != 0">
                                        <li ng-repeat="secondbtn in second.buttonRights">
                                            <input type="checkbox" ng-model="secondbtn.checked">
                                            <span>{{secondbtn.name}}</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="each-rights-module" ng-repeat="rights in level_one">
                        <div class="each-module-name">
                            <input type="checkbox" ng-model="rights.has_privilege" ng-change="firstChange(rights)">
                            {{rights.name}}
                        </div>
                        <div class="each-module-detail">
                            <ul class="second-rights-group">
                                <li class="each-second-rights-item" ng-repeat="second in rights.child">
                                    <input type="checkbox" ng-model="second.has_privilege" ng-change="secondChange(second)">
                                    <span>{{second.name}}</span>
                                    <ul class="third-rights-group"> 
                                        <li ng-repeat="third in second.child">
                                            <input type="checkbox" ng-model="third.has_privilege" ng-change="thirdChange(third)">
                                            <span>{{third.name}}</span>
                                            <ul class="third-rights-group">
                                                <li ng-repeat="four in third.child">
                                                    <input type="checkbox" ng-model="four.has_privilege" ng-chage="forthChange(four)">
                                                    <span>{{four.name}}</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        	</div>
        	<div class="tab-pane fade" id="purchase">
        		增值服务
        	</div>
        </div>
    </div>

</div>
