<div class="dw-page-nav">
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li class="active">修改密码</li>
    </ol>
</div>
<div class="dw-page-detail-container table-responsive">
    <div class="dw-add-form form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">原密码</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" ng-model="info.oldPwd"  placeholder="请输入原密码">
                <span class="must-input-icon">*</span>
            </div>

            <label class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" ng-model="info.newPwd"  placeholder="6~16位字母或数字">
                <span class="must-input-icon">*</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码确认</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" ng-model="info.confirm"  placeholder="6~16位字母或数字">
                <span class="must-input-icon">*</span>
            </div>
        </div>
        <div class="dw-form-btn-group">
            <button type="button" name="button" class="btn btn-default dw-form-btn" ng-click="back()">取消</button>
            <button type="button" name="button" class="btn btn-primary dw-form-btn" ng-click="confirm()">确认</button>
        </div>
    </div>
</div>