<div class="dw-page-nav">
    <ol class="breadcrumb">
        <li>
            <a href="#">首页</a>
        </li>
        <li class="active">
            升级桩
        </li>
    </ol>
</div>
<!-- 顶部搜索 -->
<div class="dw-page-filter-upgrade">
    <div class="tabs-container upgrade">
        <ul class="nav nav-tabs">
                        <li>
                            <a ui-sref="main.upgrade/package">升级包</a>
                        </li>
                        <li class="active">
                            <a ui-sref="main.upgrade/device">升级桩</a>
                        </li>
                        <li class="">
                            <a ui-sref="main.upgrade/report">升级报告</a>
                        </li>
        </ul>
        <div class="tab-content">
            <div id="tab-3" class="tab-pane active">
                <div class="panel-body">
                    <div role="form" class="form-inline">
                        <div class="form-group margin-r-5 upgrade">
                            <span>站点:</span>
                            <fuzzy-search type="station" query='info.station_name' queryid="info.station_id"></fuzzy-search>
                        </div>
                        <div class="form-group margin-r-5 upgrade">
                            <span for="exampleInputPassword2">设备:</span>
                            <fuzzy-search type="device" query='info.device_name' queryid="info.device_id"></fuzzy-search>
                        </div>
                        <div class="form-group margin-r-5">
                            <span for="exampleInputPassword2">软件型号:</span>
                            <input type="text" placeholder="软件型号" class="form-control width-150" ng-model="info.model">
                        </div>
                        <div class="form-group margin-r-5">
                            <span>软件版本:</span>
                            <input type="text" placeholder="软件版本" class="form-control width-150" ng-model="info.soft_version">
                            <button class="btn btn-primary btn-sm btn-outline" type="button" ng-click="search()" style="margin-right:5px;">确定</button>
                        </div>
                    </div>
                    <div style="padding-top:10px;">
                        <table class="table table-bordered table-td-h input-display-none">
                            <thead>
                                <tr class="tr-no-wrap">
                                    <td >
                                        <input type="checkbox" id="checkbox-6-all" ng-change="checkedAll()" ng-model="info.checked_all" />
                                        <label style="margin-right:10px;margin-bottom:0;transform:scale(0.8)" for="checkbox-6-all"></label>
                                    </td>
                                    <td>序号</td>
                                    <td>设备编号</td>
                                    <td>站点</td>
                                    <td>软件型号</td>
                                    <td>软件版本</td>
                                    <td>充电类型</td>
                                    <td>状态</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in devices">
                                    <td  >
                                        <div style="">
                                            <input type="checkbox" id="checkbox-6-{{x.id}}" ng-model="x.checked" />
                                            <label style="margin-right:10px;margin-bottom:0;transform:scale(0.8)" for="checkbox-6-{{x.id}}"></label>
                                        </div>
                                    </td>
                                    <td>{{$index + info.offset + 1}}</td>
                                    <td>{{x.device_number}}</td>
                                    <td>{{x.name}}</td>
                                    <td>{{x.model}}</td>
                                    <td>{{x.soft_version}}</td>
                                    <td>{{x.charge_type_name}}</td>
                                    <td>{{x.device_status_name}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm btn-outline" type="button" ng-click="getDeviceId(x)">升级</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <page-nation info="info" start-paging="startPaging()"></page-nation> -->
                        <div  >
                            <button type="button" class="btn btn-primary btn-sm btn-outline" ng-click="checkUpgrade()">批量升级</button>
                        </div>
                        <page-nation info="info" start-paging="startPaging()"></page-nation>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 选择升级包 -->
<div class="modal inmodal" id="SelectPackage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">选择升级包</h4>
            </div>
            <div class="modal-body" style="overflow-y: scroll;">
                <select class="form-control width-150" ng-options="pack.name for pack in packs track by pack.id" ng-model="packOption" style="width: 50%;margin: 0 auto;">
                    <option value="" selected disabled>请选择</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="upgrade()">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- 选择升级包 -->
<div class="modal inmodal" id="SelectPackageOne" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <!-- <i class="fa fa-laptop modal-icon"></i> -->
                <h4 class="modal-title">选择升级包</h4>
            </div>
            <div class="modal-body" style="overflow-y: scroll;">
                <select class="form-control width-150" ng-options="pack.name for pack in packs track by pack.id" ng-model="packOption" style="width: 50%;margin: 0 auto;">
                    <option value="" selected disabled>请选择</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="upgradeOne()">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- 升级报告详情 -->
<div class="modal inmodal" id="GetReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">升级报告详情</h4>
            </div>
            <div class="modal-body" style="overflow-y: scroll;">
                <div class="list-item">升级包：{{report.packInfo.name}}</div>
                <div class="list-item">设备制造商：{{report.packInfo.manufacturer_name}}</div>
                <div class="list-item">软件型号：{{report.packInfo.model}}</div>
                <div class="list-item">目标升级版本：{{report.packInfo.apply_version}}</div>
                <div class="list-item">升级时间：{{report.packInfo.created_at}}</div>
                <div class="ibox" style="padding-top: 20px;">
                    <table class="table table-bordered table-td-h input-display-none">
                        <thead>
                            <tr class="tr-no-wrap">
                                <td>设备编号</td>
                                <td>站点</td>
                                <td>升级前软件版本</td>
                                <td>当前软件版本</td>
                                <td>升级结果</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in report.list">
                                <td>{{x.device_number}}</td>
                                <td>{{x.station_name}}</td>
                                <td>{{x.pre_soft_version}}</td>
                                <td>{{x.current_version}}</td>
                                <td>{{x.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="getReport()">刷新</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
