.rights-add-form{
    margin:0 auto;
    padding-top: 100px;
}
.rights-list-group{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 15px 0;
}
.each-rights-module{
    width: 350px;
    margin-top: 15px;
    overflow: hidden;
    margin: 0px 10px;
}
.each-module-name{
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: 18px;
    background-color: #1ab394;
    color:#fff;
    /*text-align: center;*/
    padding-left: 15px;
    border-radius: 5px 5px 0px 0px;
}
.each-module-detail{
    width: 100%;
    overflow: hidden;
    border:1px solid #ddd;
    border-radius:0px 0px 5px 5px;
}
.second-rights-group{
    list-style: none;
    padding: 0px;
}
.each-second-rights-item{
    padding-left: 15px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
.third-rights-group{
    list-style: none;
}
.systemusergroup .tab-pane{
    border: 1px solid #ddd;
    border-top: none;
}